@import url(/css/style.css);

header {
    display: flex;
    flex-direction: column;
    background-color: var(--light-background-blue);
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 1rem 1.5rem;
    z-index: 1;
}

.logo {
    margin: 0 0 1rem 1rem;
}

.logo img {
    min-width: 8.438rem;
}

.open-menu {
    margin-left: auto;
}

.open-menu img {
    min-width: 1.75rem;
    margin-right: auto;
}

/* .home-header-circle {
    height: 62rem;
    width: 62rem;
    background-color: rgba(208,217,226,255);
    border-radius: 50%;
    position: absolute;
    top: -110%;
    right: -22%;
} */


/* hero section */

.home-hero-wrapper, .home-hero-image-wrapper, .home-hero-text-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-hero-wrapper {
    z-index: 1;
}

.home-hero-image-wrapper {
    margin: 3rem auto;
}

.home-hero-text-button-wrapper {
    margin: .5rem auto;
}

@media only screen and (min-width: 48rem) {
    .home-hero-text-button-wrapper {
        max-width: 35.813rem;
    }
}

@media only screen and (min-width: 64rem) {
    .home-hero-wrapper {
        flex-direction: row-reverse;
        align-items: flex-start;
        text-align: left;
    }

    .home-hero-image-wrapper, .home-hero-text-button-wrapper {
        align-items: flex-start;
        text-align: left;
    }

    /* .home-hero-image-wrapper img {
        width: 16.438rem;
        height: 31.25rem;
    } */
}

.home-hero-image-wrapper img {
    width: 12rem;
    height: 19rem;
}

.contact-span {
    font-weight: 700;
}

/* testimonials & who we work with section */

.testimonials-wrapper {
    background-color: var(--mirage-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-brand-logo-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin: 5rem auto 2rem auto;
}

.home-brand-logo-wrapper img {
    width: 6.688rem;
}

.testimonials-text-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 5rem auto;
}

.testimonials-text-and-button h1, .testimonials-text-and-button p {
    text-align: center;
    color: hsla(207, 58%, 99%, 1);
}

.testimonials-text-and-button form {
    margin-top: 2rem;
}

@media only screen and (min-width: 48rem) {
    .home-brand-logo-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 3.875rem;
        row-gap: 2.875rem;
        margin: 5.5rem 7.25rem 4rem 7.25rem;
        max-width: 33.5rem;
    }

    .testimonials-text-and-button {
        margin-left: 9.75rem;
        margin-right: 9.75rem;
    }
}

@media only screen and (min-width: 64rem) {
    .testimonials-wrapper {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .testimonials-text-and-button {
        align-items: flex-start;
        text-align: left;
    }

    .testimonials-text-and-button h1, .testimonials-text-and-button p {
        text-align: left;
    }

    .home-brand-logo-wrapper {
        margin: 11.563rem 10.188rem 11.563rem 0;
    }

    .testimonials-text-and-button {
        margin: 6.25rem 8rem 6.25rem 10.313rem;
    }

    .testimonials-text-and-button h1 {
        font-size: 3rem;
    }
}

/* how to implement section */
.code-ui-wrapper {
    background-color: var(--light-background-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.code-illustration img {
    width: 25rem;
}

.code-ui-image img {
    width: 23rem;
}

.code-ui-text-1, .code-ui-text-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 48rem) {
    .code-ui-text-1, .code-ui-text-2 {
        margin-left: 6.125rem;
        margin-right: 6.125rem;
    }
}

/* use cases section */

.use-cases-wrapper {
    background-color: var(--light-background-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.use-case {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.use-case-illustration {
    width: 6.625rem;
}

.use-case h2 {
    font-size: 1.125rem;
    font-weight: 700;
}

@media only screen and (min-width: 48rem) {
    .use-cases-wrapper {
        padding: 6.25rem 2.5rem 6.25rem 2.5rem;
        flex-direction: row;
        gap: 0.625rem;
    }
}

/* cta at the bottom of the screen */
.home-cta-wrapper {
    background-color: var(--light-background-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-body-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3rem auto;
}

@media only screen and (min-width: 48rem) {
    .home-cta-wrapper {
        padding: 0 10.063rem 6.25rem 10.063rem;
    }
}

/* footer */
footer, .footer-wrapper, .logo-text-footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: var(--mirage-blue);
}

.footer-wrapper {
    gap: min(1.9rem);
    margin: 3rem auto;
}

.logo-text-footer-div {
    gap: min(1.9rem);
    margin: 0 auto;
}

.logo-text-footer-div img {
    width: 8.438rem;
}

.social-icons-footer-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

