@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;700&display=swap');
@import url(/css/reset.css);

:root {
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    --dark-pink: hsla(337, 48%, 49%, 1);
    --link-water-white: hsla(207, 58%, 99%, 1);
    --san-juan-blue: hsla(207, 33%, 32%, 1);
    --light-san-juan-blue: hsla(207, 16%, 50%, 1);
    --mirage-blue: hsla(207, 28%, 15%, 1);
    --charm-pink-active: hsla(337, 59%, 64%, 1);
    --light-background-blue: rgba(237,243,248,255);
}

body {
    overflow-x: hidden;
    background-color: var(--light-background-blue);
}

/* styling for different screens using 48rem/767px 
as start of tablet screen sizes and 64rem/1024px as the start of desktop screen */

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
    color: var(--san-juan-blue);
}

h1 {
    font-size: 2rem;
    line-height: 2.25rem;
}

p {
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.75rem;
    color: var(--san-juan-blue);
}

a {
    text-decoration: none;
    color: hsla(207, 58%, 99%, 1);
}

/* styling the header & nav */
header {
    display: flex;
    flex-direction: row;
    margin: 2.5rem 1.5rem;
    position: relative;
}

.open-menu {
    width: 1.75rem;
    height: 1.063rem;
    margin-left: auto;
}

.desktop-active {
    display: none;
}

/* mobile nav */

.mobile-active {
    height: 100vh;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgba(27, 38, 47, 1);
    padding-top: 3rem;
    position: absolute;
    top: 0vh;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(-150%);
    overflow-x: hidden;
}

.mobile-active-show {
    transform: translate(0);
}

.close-menu {
    width: 1.75rem;
    height: 1.063rem;
    align-self:flex-end;
    margin-right: 1.688rem;
    padding-top: 3rem;
    position: relative;
}

.close-menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 10px;
    background-color: white;

}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.mobile-nav ul li a {
    color: rgba(251, 252, 254, 1);
    font-weight: 700;
}

.nav-button {
    border: none;
    border-radius: 25px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: var(--dark-pink);
    color: #fff;
    font-weight: 700;
}

.nav-button:hover {
    cursor: pointer;
    background-color: var(--charm-pink-active);
}

.nav-button:active {
    opacity: 75%;
}

/* styling header & nav for bigger screens */
@media only screen and (min-width: 48rem) {
    .open-menu {
        display: none;
    }

    .desktop-active {
        display: block;
    }

    header, .desktop-active, .desktop-nav-ul {
        display: flex;
        flex-direction: row;
    }

    header {
        margin: 2.5rem;
        align-items: center;
        justify-content: space-between;
    }

    .desktop-nav-ul {
        gap: 2.5rem;
    }

    .desktop-nav-ul li a {
        color: var(--san-juan-blue);
        font-weight: 700;
    }

    .desktop-active {
        align-items: center;
        gap: 3rem;
    }
}


@media only screen and (min-width: 64rem) {
    header {
        margin: 2.5rem 10.313rem;
    }

    

}



/* general request demo button style */
.general-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 3em;
    max-width: 20.438rem;
    background-color: red;
    overflow: hidden;
}

.form-item {
    display: flex;
    flex-direction: column;
    
}

.form-input, .form-button {
    font-family: inherit;
    border: 0;
}

.form-input {
    padding: 1em;
}

.form-input:focus {
    outline: none;
}

.form-button {
    background-color: var(--dark-pink);
    color: white;
    padding: 1em 2.25em;
}

@media only screen and (min-width: 48rem) {
    .general-form {
        flex-direction: row;
        max-width: 27.813rem;
        border-radius: 3em;
        background-color: white;
        overflow: hidden;
        gap: 0;
    }

    .form-item {
        justify-content: center;
        flex-grow: 1;
    }

    .form-button {
        margin-left: auto;
        border-radius: 3em;
    }
}


/* general ready to start CTA section at the bottom of the screen*/

.home-cta-wrapper {
    background-color: var(--light-background-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-body-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3rem auto;
}

@media only screen and (min-width: 48rem) {
    .home-cta-wrapper {
        padding: 0 10.063rem 6.25rem 10.063rem;
    }
}

@media only screen and (min-width: 64rem) {
    .home-cta-wrapper {
        padding: 0 10.313rem 6rem 10.313rem;
    }

    .home-body-cta h1 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 86rem) {
    .home-body-cta {
        flex-direction: row;
        gap: 20vw;
    }
}


/* general submit button style */
.general-button-2 {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 25px;
    font-size: 0.938rem;
    font-weight: 700;
    border-width: 2px;
    cursor: pointer;
}

.general-button-2-dark {
    background-color: var(--mirage-blue);
    border: 2px solid #fff;
    color: white;
}

.general-button-2-dark:hover {
    background-color: #fff;
    color: var(--mirage-blue);
    border-color: var(--mirage-blue);
}

.general-button-2-dark:active {
    opacity: 75%;
}

.general-button-2-light {
    background-color: var(--light-background-blue);
    border: 1px solid var(--mirage-blue);
    color: var(--mirage-blue);
}

.general-button-2-light:hover {
    background-color: var(--mirage-blue);
    border: 2px solid #fff;
    color: white;
}

@media only screen and (min-width: 48rem) {

}

/* text sizing for tablet screens */

@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

/* text sizing for desktop screens */

@media only screen and (min-width: 64rem) {
    h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
}

/* footer */
footer, .footer-wrapper, .logo-text-footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: var(--mirage-blue);
}

.footer-wrapper {
    gap: min(1.9rem);
    margin: 3rem auto;
}

.footer-link {
    color: rgba(181,185,189,255);
}

.footer-link:hover {
    color: white;
}

.footer-link:active {
    opacity: 75%;
}

.logo-text-footer-div {
    gap: min(1.9rem);
    margin: 0 auto;
}

.logo-text-footer-div img {
    width: 8.438rem;
}

.social-icons-footer-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social-icons-footer-div img:hover {
    filter: invert(48%) sepia(63%) saturate(381%) hue-rotate(285deg) brightness(98%) contrast(94%);
}

@media only screen and (min-width: 48rem) {
    .logo-text-footer-div {
        margin-left: 0;
        margin-right: 0;
    }

    .footer-wrapper, .logo-text-footer-div {
        flex-direction: row;
    }

    .footer-wrapper {
        margin: 1.938rem 2.5rem 1.938rem 2.438rem;
        width: 100%;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 64rem) {
    .footer-wrapper {
        margin: 1.938rem 10.313rem 1.938rem 10.313rem;
        width: 100%;
    }
}


